<p id="notice"><%= notice %></p>

<h1>Tv Shows</h1>

<table border='1|0' style="background-color:#00FF00">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Release date</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.summary %></td>
        <td><%= tv_show.release_date %></td>
        <td><%= tv_show.rating %></td>
        <td><%= link_to 'About', about_tv_show_path(tv_show) %></td>
        <td><%= link_to 'Show', tv_show_path(tv_show) %></td>
        <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
        <td><%= link_to 'Destroy', tv_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @tv_shows %>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><%= path_to_prev_page @tv_shows %>Previous</a></li>
    <li class="page-item">link_to_unless current_page.first?1</a></li>
    <li class="page-item"><%= paginate @tv_shows %>2</a></li>
    <li class="page-item"><%= paginate @tv_shows %>3</a></li>
    <li class="page-item"><%= path_to_next_page @tv_shows %>Next</a></li>
  </ul>
</nav>

<%= link_to 'New Tv Show', new_tv_show_path %>

<%= link_to 'Search tv show', search_tv_shows_path %>
